@font-face {
    font-family: "FilsonProBlack";
    src: url("../fonts/FilsonProBlack.otf");
}

* {
    box-sizing: border-box;
    margin: 0;
}

/* header */

header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    justify-content: space-between;
    background: linear-gradient(178deg, #f7146b 40%, #ffffffbb 70%);
    height: 5vh;
    border-radius: 0 0 10px 10px;
}

/* header nav {} */

.logo {
    color: whitesmoke;
    margin: 0.4rem;
    width: 3rem;
}

main {
    background-color: #e3e3e3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #f8146c;
    text-align: center;
    margin: 0 auto 0 auto;
}

p {
    color: #f8146c;
    text-align: center;
    margin: 0 auto 0 auto;
}

section {
    height: 1200px;
    margin: 0 auto 0 auto;
    width: 100rem;
    /* height: 100rem; */
}


.logo_center {
    background-color: #f7146b;
    width: 15rem;
    height: 15rem;
    z-index: 1;
    position: absolute;
    left: 42.5rem;
    top: 42.5rem;
    background-image: url(/logos/logo.svg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: solid 1px grey;

}

.Alex {
    position: absolute;
    width: 10rem;
    height: 10rem;
    z-index: 2;
    left: 45rem;
    top: 28rem;
    background-image: url(/avatar/alexandre.png);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px grey;
}

.Ali {
    position: absolute;
    width: 10rem;
    height: 10rem;
    z-index: 3;
    left: 56rem;
    top: 32rem;
    background-image: url(/avatar/ali.png);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px grey;
}

.Anae {
    position: absolute;
    width: 10rem;
    height: 10rem;
    z-index: 2;
    left: 61rem;
    top: 42rem;
    background-image: url(/avatar/anae.png);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px grey;
}

.David {
    position: absolute;
    width: 10rem;
    height: 10rem;
    z-index: 4;
    left: 60rem;
    top: 53rem;
    background-image: url(/avatar/david.png);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px grey;
}

.Gabriel {
    position: absolute;
    width: 10rem;
    height: 10rem;
    z-index: 2;
    left: 51.5rem;
    top: 61rem;
    background-image: url(/avatar/gabriel.png);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px grey;
}

.Julien {
    position: absolute;
    width: 10rem;
    height: 10rem;
    z-index: 2;
    left: 39rem;
    top: 61rem;
    background-image: url(/avatar/julien.png);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px grey;
}

.Matth {
    position: absolute;
    width: 10rem;
    height: 10rem;
    z-index: 2;
    left: 30rem;
    top: 53rem;
    background-image: url(/avatar/matt.png);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px grey;
}

.Niko {
    position: absolute;
    width: 10rem;
    height: 10rem;
    z-index: 2;
    left: 29rem;
    top: 42rem;
    background-image: url(/avatar/niko.png);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px grey;
}

.Phil {
    position: absolute;
    width: 10rem;
    height: 10rem;
    z-index: 2;
    left: 34rem;
    top: 32rem;
    background-size: cover;
    background-image: url(/avatar/phil.png);
    border-radius: 50%;
    border: solid 1px grey;
}

/* footer */

.icoFaceBook {
    width: 2.2rem;
}

.icoGitHub {
    width: 2.2rem;
}

.icoInstagram {
    width: 2.2rem;
}

.icoLinkedIn {
    width: 2.2rem;
}

.icoTwitter {
    width: 2.2rem;
}

footer {
    line-height: 1.5;
    height: auto;
    display: flex;
    flex-direction: column;
    background: linear-gradient(-2deg, #f7146b 40%, #ffffffbb 70%);
    border-radius: 10px 10px 0 0;
}

/* footer 1 */

.socialNetwork ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-left: 0rem;
}

.socialNetwork ul li {
    list-style: none;
}

.menuFooter ul {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

.menuFooter ul li {
    height: 18px;
    list-style: none;
    padding-left: 1rem;
    /* padding-right: 1rem; */
}

.menuFooter ul li a {
    color: white;
}

.footerWCS {
    text-align: center;
    color: white;
    padding-bottom: 1rem;
}

/* Ici commence le menu buger /* 

 /* Sidenav menu */
.nav_principal {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -3000px;
    background-color: rgba(110, 3, 101, 0.425);
    padding-top: 60px;
    transition: left 0.5s ease;
    display: flex;
    justify-content: center;

    align-items: center;
}

.nav_principal ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav_principal a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.15s;
    color: white;
}

.nav_principal a:hover {
    color: #871B94;
}

.nav_principal.active {
    left: 0;
}

.nav_principal .close {
    position: absolute;
    top: 0;
    left: -5px;
    font-size: 36px;
    color: #ffffff00;
}

.burger-icon span {
    display: block;
    justify-content: flex-start;
    width: 35px;
    height: 5px;
    margin: 6px 0;
}

.buttonOpen {
    display: block;
    justify-content: flex-start;
    width: 70x;
    height: 40px;
    margin: 6px 0;
    margin-top: 3px;
}

.buttonClose {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70x;
    height: 40px;
}