@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1..1000&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Ysabeau SC", sans-serif;
    margin: 0;
    background-image: url(/images/original.jpeg);
    background-size: cover;

}

/* header */

header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    background: linear-gradient(178deg, #f7146b 40%, #adababbb 70%);
    height: auto;
    border-radius: 0 0 10px 10px;
}

/* header nav {} */

.nav_desktop {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    list-style: none;
    padding-left: 0;
}

.nav_desktop li {
    padding-left: 0.5rem;
}

.nav_desktop li a {
    color: whitesmoke;
    text-decoration: none;
}

.logo {
    color: whitesmoke;
    margin: 0.4rem;
    width: 3rem;
}

.tel {
    color: whitesmoke;
    margin: 0.4rem;
    width: 3rem;
}

/* main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    height: 80vh;
}

h1 {
    color: #f8146c;
    display: flex;
    justify-content: center;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 40px;
    margin: 3rem auto 2rem;

}

h2 {
    color: #f8146c;
    display: flex;
    justify-content: center;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 28px;
    margin: 2rem auto;
}

#conteneur {
    margin-top: 6rem;
    width: 60vw;
    height: 60vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.av {
    display: block;
    position: absolute;
    transform: translate(-2.1rem, -2rem);
}

.logo_center {
    background-color: #f7146b;
    width: 6rem;
    height: 6rem;
    background-image: url(/logos/logo.svg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: solid 1px grey;
}

.Alex {
    width: 4rem;
    height: 4rem;
    background-image: url(/avatar/alexandre.png);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px grey;
}

.Ali {
    width: 4rem;
    height: 4rem;
    background-image: url(/avatar/ali.png);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px grey;
}

.Anae {
    background-color: white;
    width: 4rem;
    height: 4rem;
    background-image: url(/avatar/anae.png);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px grey;
}

.David {
    width: 4rem;
    height: 4rem;
    z-index: 4;
    background-image: url(/avatar/david.png);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px grey;
}

.Gabriel {
    width: 4rem;
    height: 4rem;
    z-index: 2;
    background-image: url(/avatar/gabriel.png);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px grey;
}

.Julien {
    background-color: white;
    width: 4rem;
    height: 4rem;
    z-index: 2;
    background-image: url(/avatar/julien.png);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px grey;
}

.Matth {
    width: 4rem;
    height: 4rem;
    z-index: 2;
    background-image: url(/avatar/matt.png);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px grey;
}

.Niko {
    width: 4rem;
    height: 4rem;
    z-index: 2;
    background-image: url(/avatar/niko.png);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px grey;
}

.Phil {
    width: 4rem;
    height: 4rem;
    z-index: 2;
    background-size: cover;
    background-image: url(/avatar/phil.png);
    border-radius: 50%;
    border: solid 1px grey;
}

/* footer */

.icoFaceBook {
    width: 3rem;
}

.icoGitHub {
    width: 3rem;
}

.icoInstagram {
    width: 3rem;
}

.icoLinkedIn {
    width: 3rem;
}

.icoTwitter {
    width: 3rem;
}

footer {
    display: flex;
    flex-direction: column;
    height: 8rem;
    background: linear-gradient(-2deg, #f7146b 40%, #adababbb 70%);
    border-radius: 10px 10px 0 0;
}

.socialNetwork ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.socialNetwork ul li {
    list-style: none;
}

.menuFooter ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.menuFooter ul li {
    height: 18px;
    list-style: none;
    padding-left: 1rem;
}

.menuFooter ul li a {
    color: white;
}

.menuFooter a:hover {
    color: #1d1518;
}

.footerWCS {
    text-align: center;
    color: white;
}

/* Ici commence le menu buger /* 

 /* Sidenav menu */

.nav_principal {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -3000px;
    background-color: rgba(110, 3, 101, 0.664);
    padding-top: 60px;
    transition: left 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_principal ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav_principal a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.15s;
    color: white;
}

.nav_principal a:hover {
    color: #871B94;
}


.nav_principal.active {
    left: 0;
}


.nav_principal .close {
    position: absolute;
    top: 0;
    left: -31px;
    top: -5px;
    font-size: 36px;
    color: #ffffff00;
}

.burger-icon span {
    display: block;
    justify-content: flex-start;
    width: 35px;
    height: 5px;
    margin: 6px 0;
}

.buttonOpen {
    display: block;
    justify-content: flex-end;
    width: 70x;
    height: 40px;
    margin: 6px 0;
    margin-top: 3px;
}

.buttonClose {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70x;
    height: 40px;
}

/*Navbar version bureau*/

.navbar {
    width: 100%;
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.navbar a:hover {
    color: #1d1518;
}


.navbar li {
    list-style: none;
}

.navbar ul {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 45px;
}

.navbar li a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 1.3rem;
}

.navbar .links {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

/* bouton tel */

a span {
    display: none;
}

a:hover span {
    position: absolute;
    display: block;
    height: 400px;
    width: 400px;
}

a:hover .card {
    position: absolute;
    display: block;
    height: 400px;
    width: 400px;
}

@media screen and (min-width: 800px) {
    .buttonOpen {
        display: none;
        justify-content: flex-start;
        width: 70x;
        height: 40px;
        margin: 6px 0;
        margin-top: 3px;
    }
}

@media screen and (max-width: 799px) {
    .navbar .links {
        display: none;
        justify-content: space-between;
        gap: 4rem;
    }
}