@font-face {
    font-family: "FilsonProBlack";
    src: url("../fonts/FilsonProBlack.otf") format("otf");

}

* {
    box-sizing: border-box;
    margin: 0;

}

h1 h2 p li {
    font-family: url(../fonts/FilsonProBlack.otf);
}

body {
    background-image: url(../images/Travail-dequipe-Mag-min.jpg.webp);
    background-size: cover;
    /* background-color: #e3e3e3; */
    font-family: "FilsonProBlack", sans-serif;
}

/* header */

header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    justify-content: space-between;
    /* background-color: #f8146cea; */
    /* background-image: url(../images/formation_image_01.webp);
    background-size: cover; */
    background: linear-gradient(178deg, #f7146b 40%, #ffffffbb 70%);
    height: 5vh;
    border-radius: 0 0 10px 10px;
}

/* header nav {} */

.logo {
    color: whitesmoke;
    margin: 0.4rem;
    width: 3rem;
}

/* main */

main {
    /* background-image: url(../images/Travail-dequipe-Mag-min.jpg.webp);
    background-size: cover; */
    /* background-color: #e3e3e3; */
    padding: 1rem;
}

/* section {
} */

/* premiere section */

.premièreLigne {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.secondeLigne {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.troisièmLigne {

    display: flex;
    flex-direction: row;
    justify-content: end;
}

.quatrièmeLigne {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

section h1 {
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
    padding: 1rem 0 2rem 0;
}

.tableau {
    margin: 0 1rem;
    padding-top: 1rem;
    background-color: rgba(255, 255, 255, 0.644);
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.Yavuz {
    width: 6rem;
    height: 6rem;
    z-index: 1;

    background-image: url(../avatar/yavuzkutuk.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: solid 1px grey;
}

.Vincent {
    width: 5.5rem;
    height: 5.5rem;
    z-index: 1;
    /* position: absolute; */
    /* left: 13rem;
    top: 42.5rem; */
    background-image: url(../avatar/Vincent.htm);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: solid 1px grey;
}

.Alex {
    /* position: absolute; */
    width: 5rem;
    height: 5rem;
    z-index: 1;
    /* left: 45rem;
    top: 28rem; */
    background-image: url(../avatar/Alex.htm);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px grey;
}

.Ali {
    /* position: absolute; */
    width: 5rem;
    height: 5rem;
    z-index: 1;
    /* left: 56rem; */
    /* top: 32rem; */
    background-image: url(../avatar/Ali.htm);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px grey;
}

.Anae {
    /* position: absolute; */
    width: 5rem;
    height: 5rem;
    z-index: 1;
    /* left: 61rem; */
    /* top: 42rem; */
    background-image: url(../avatar/Anae.htm);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px grey;
}

.David {
    /* position: absolute; */
    width: 5rem;
    height: 5rem;
    z-index: 1;
    /* left: 60rem; */
    /* top: 53rem; */
    background-image: url(../avatar/David.png);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px grey;
}

.Gabriel {
    /* position: absolute; */
    width: 5rem;
    height: 5rem;
    z-index: 1;
    /* left: 51.5rem; */
    /* top: 61rem; */
    background-image: url(../avatar/Gabriel.htm);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px grey;
}

.Julien {
    /* position: absolute; */
    width: 5rem;
    height: 5rem;
    z-index: 1;
    /* left: 39rem; */
    /* top: 61rem; */
    background-image: url(../avatar/Julien.htm);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px grey;
}

.Matth {
    /* position: absolute; */
    width: 5rem;
    height: 5rem;
    z-index: 1;
    /* left: 30rem; */
    /* top: 53rem; */
    background-image: url(../avatar/Matth.htm);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px grey;
}

.Niko {
    /* position: absolute; */
    width: 5rem;
    height: 5rem;
    z-index: 1;
    /* left: 29rem; */
    /* top: 42rem; */
    background-image: url(../avatar/Niko.jpg);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px grey;
}

.Phil {
    /* position: absolute; */
    width: 5rem;
    height: 5rem;
    z-index: 1;
    /* left: 34rem; */
    /* top: 32rem; */
    background-image: url(../avatar/Phil.jpg);
    background-size: cover;
    border-radius: 50%;
    border: solid 1px grey;
}


/* seconde section */
section h2 {
    text-align: center;
    font-size: 36px;
    padding: 2rem;
    color: whitesmoke;
}

.presentation {
    background-color: #ffffffa4;
    margin: 0 1rem 4rem;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}


.presentation p {

    display: flex;
    margin: 0 1.5rem;
    padding: 1rem;
}

/* footer */

.icoFaceBook {
    width: 2.2rem;
}

.icoGitHub {
    width: 2.2rem;
}

.icoInstagram {
    width: 2.2rem;
}

.icoLinkedIn {
    width: 2.2rem;
}

.icoTwitter {
    width: 2.2rem;
}

footer {
    /* background-color: #f8146c; */
    height: 6rem;
    /* border-top: solid 1px grey; */
    display: flex;
    flex-direction: column;
    background: linear-gradient(-2deg, #f7146b 40%, #ffffffbb 70%);
    border-radius: 10px 10px 0 0;
    /* background-image: url(../images/footer-1.png);
    background-size: cover; */
}


/* footer 1 */

/* .socialNetwork {} */

.socialNetwork {
    margin-bottom: 0.8rem;
}

.socialNetwork ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-left: 0rem;
}

.socialNetwork ul li {
    list-style: none;
}

.menuFooter ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
}

.menuFooter ul li {
    list-style: none;
    padding-left: 2rem;
}

.menuFooter ul li a {
    color: white;
}

.footerWCS {
    text-align: center;
    color: white;
}

/* Ici commence le menu buger /* 

 /* Sidenav menu */
.nav_principal {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -3000px;
    background-color: rgba(110, 3, 101, 0.425);
    padding-top: 60px;
    transition: left 0.5s ease;
    display: flex;
    justify-content: center;

    align-items: center;
}

.nav_principal ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav_principal a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.15s;
    color: white;
}

.nav_principal a:hover {
    color: #871B94;
}

.nav_principal.active {
    left: 0;
}


.nav_principal .close {
    position: absolute;
    top: 0;
    left: -5px;
    font-size: 36px;
    color: #ffffff00;
}

.burger-icon span {
    display: block;
    justify-content: flex-start;
    width: 35px;
    height: 5px;
    margin: 6px 0;
}

.buttonOpen {
    display: block;
    justify-content: flex-start;
    width: 70x;
    height: 40px;
    margin: 6px 0;
    margin-top: 3px;
}

.buttonClose {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70x;
    height: 40px;
}


/* Ici commence le menu buger /* 

 /* Sidenav menu */
.nav_principal {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -3000px;
    background-color: rgba(110, 3, 101, 0.425);
    padding-top: 60px;
    transition: left 0.5s ease;
    display: flex;
    justify-content: center;

    align-items: center;
}

.nav_principal ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav_principal a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.15s;
    color: white;
}

.nav_principal a:hover {
    color: #871B94;
}

.nav_principal.active {
    left: 0;
}


.nav_principal .close {
    position: absolute;
    top: 0;
    left: -5px;
    font-size: 36px;
    color: #ffffff00;
}

.burger-icon span {
    display: block;
    justify-content: flex-start;
    width: 35px;
    height: 5px;
    margin: 6px 0;
}

.buttonOpen {
    display: block;
    justify-content: flex-start;
    width: 70x;
    height: 40px;
    margin: 6px 0;
    margin-top: 3px;
}

.buttonClose {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70x;
    height: 40px;
}