@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&family=Ysabeau+SC:wght@1..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url(/images/etudiant.jpeg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    justify-content: space-between;
    background: linear-gradient(178deg, #f7146b 40%, #9b9595bb 70%);
    height: 7vh;
    border-radius: 0 0 10px 10px;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 60px;
}

/* header nav {} */

.logo {
    .logo {
        color: whitesmoke;
        margin: 0.4rem;
        width: 3rem;
    }
}

.tel {
    color: whitesmoke;
    margin: 0.4rem;
    width: 3rem;
}

.nav_principal {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -5000px;
    background-color: rgba(110, 3, 101, 0.664);
    padding-top: 60px;
    transition: left 0.5s ease;
    display: flex;
    justify-content: center;

    align-items: center;
}

.nav_principal ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav_principal a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.15s;
    color: white;
}

.nav_principal a:hover {
    color: #871B94;
}


.nav_principal.active {
    left: 0;
}


.nav_principal .close {
    position: absolute;
    top: 0;
    left: -31px;
    top: -5px;
    font-size: 36px;
    color: #ffffff00;
}

.burger-icon span {
    display: block;
    justify-content: flex-start;
    width: 35px;
    height: 5px;
    margin: 6px 0;
}

.buttonOpen {
    display: block;
    justify-content: flex-end;
    width: 70x;
    height: 40px;
    margin: 6px 0;
    margin-top: 3px;
}

.buttonClose {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70x;
    height: 40px;
}

/*Navbar version bureau*/
.navbar {
    width: 100%;
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    font-family: 'Ysabeau SC' sans-serif;
}

.navbar a:hover {
    color: #1d1518;
}


.navbar li {
    list-style: none;
}

.navbar ul {

    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 45px;
}

.navbar li a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 1.3rem;
}

.navbar .links {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}



@media (min-width: 800px) {
    .buttonOpen {
        display: none;
        justify-content: flex-start;
        width: 70x;
        height: 40px;
        margin: 6px 0;
        margin-top: 3px;
    }

    .container {
        display: none;
    }
}



@media (max-width: 800px) {
    .navbar .links {
        display: none;
        justify-content: space-between;
        gap: 4rem;
    }

    .wilders {
        display: none;
    }

    main h1 {
        font-size: 45px;
        text-align: center;
    }


}

a span {
    display: none;
}

a:hover span {
    position: absolute;
    display: block;
    height: 400px;
    width: 400px;
    /* background-image: url("../images/tel.png"); */
}

a:hover .card {
    background-image: url("../images/tel.png");
    position: absolute;
    display: block;
    height: 400px;
    width: 400px;
}

main {
    background-image: url(/images/etudiant.jpeg);
    background-size: cover;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 70px;
    color: #f7146b;
    font-family: 'Ysabeau SC', sans-serif;
}

.slide p {
    font-size: 15px;
    background-color: #f7146ba5;
    border-radius: 10px;
    margin: 2rem;
    margin-top: 4.5rem;
    text-align: justify;


}

section {
    display: flex;
    flex-direction: column;
    font-family: 'Ysabeau SC', sans-serif;

}

article {
    background-color: rgba(255, 255, 255, 0.553);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 5rem;
    font-family: 'Ysabeau SC' sans-serif;
    font-size: 25px;
    text-align: center;

}

h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*Carousel*/
.container {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 25px;
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
    height: 80vh;

}

.carousel {
    position: relative;
}

.carousel-inner {
    display: flex;
    overflow: hidden;
    height: 100vh;
    flex-wrap: nowrap;
}

.slide {
    flex: 0 0 100%;
    height: 100%;
    transition: .5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Ysabeau SC', sans-serif;
    flex-direction: column;
    margin-top: 3rem;

}

.slide img {

    object-fit: cover;
    display: flex;
    width: 90%;

}

.carousel-controls {
    position: absolute;
    left: 4%;
    right: 10%;
    top: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.carousel-controls button {
    padding: 10px;
    background-color: #f43f85fb;
    border-radius: 10%;

}

div button {
    size: 1px;
}

.carousel-dots {
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 25%;
    display: flex;
    justify-content: center;
}

.carousel-dots .dot {
    margin: 5px;
    cursor: pointer;
}

.carousel-dots .active {
    border: 10px solid #f7146b !important;
}

.carousel-dots .inactive {
    border: 10px solid white;
}

/* footer */

.icoFaceBook {
    width: 4.2rem;
}

.icoGitHub {
    width: 4.2rem;
}

.icoInstagram {
    width: 4.2rem;
}

.icoLinkedIn {
    width: 4.2rem;
}

.icoTwitter {
    width: 4.2rem;
}

footer {
    line-height: 1.5;
    height: auto;
    display: flex;
    flex-direction: column;
    background: linear-gradient(-2deg, #f7146b 40%, #928686bb 70%);
    border-radius: 10px 10px 0 0;
    font-family: 'Ysabeau SC', sans-serif;
    margin-top: auto;
}

/* footer 1 */

.socialNetwork ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-left: 0rem;
}

.socialNetwork ul li {
    list-style: none;
}

.menuFooter ul {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

.menuFooter ul li {
    height: 18px;
    list-style: none;
    padding-left: 1rem;
    /* padding-right: 1rem; */
}

.menuFooter ul li a {
    color: white;
}

.footerWCS {
    text-align: center;
    color: white;
    padding-bottom: 1rem;
}