* {
    box-sizing: border-box;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: #f8146c;
    height: 5vh;
}

/* header nav {} */

.logo {
    margin: 0.4rem;
    width: 8rem;
}

main {
    background-color: #e3e3e3;
    background-image: url(Logos/wildcode.webp);

}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 40px;
}

p {
    font-size: 20px;

}

section {
    display: flex;
    flex-direction: column;
}

.alexandre {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    margin: 5rem;
    border-radius: 20px;
}

.ali {
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 5rem;
    border-radius: 20px;
}

.anae {
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 5rem;
    border-radius: 20px;
}

.david {
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 5rem;
    border-radius: 20px;
}

.gabriel {
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 5rem;
    border-radius: 20px;
}

.julien {
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 5rem;
    border-radius: 20px;
}

.matt {
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 5rem;
    border-radius: 20px;
}

.niko {
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 5rem;
    border-radius: 20px;
}

.phil {
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 5rem;
    border-radius: 20px;
}

/* footer */

.icoFaceBook {
    width: 2rem;
}

.icoGitHub {
    width: 2rem;
}

.icoInstagram {
    width: 2rem;
}

.icoLinkedIn {
    width: 2rem;
}

.icoTwitter {
    width: 2rem;
}

footer {
    height: 10vh;
    background-color: #f8146c;
}

/* .socialNetwork {} */

.socialNetwork ul {
    display: flex;
    flex-direction: row;
    justify-content: start;

}

.socialNetwork ul li {
    list-style: none;
}

.menuFooter ul {
    display: flex;
    flex-direction: row;

}

.menuFooter ul li {
    list-style: none;

}

.menuFooter ul li a {
    color: white;
    text-decoration: none;
}

.footerWCS {
    color: white;
}